cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
dlib==19.21.1
eos-py==1.2.1
face-alignment==1.3.4
face-recognition==1.3.0
face-recognition-models==0.3.0
facenet-pytorch==2.5.2
ffmpeg==1.4
ffprobe==0.5
ffprobe-python==1.0.3
h5py==3.1.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
imutils==0.5.4
joblib==1.0.0
kiwisolver==1.3.1
Lasagne==0.1
llvmlite==0.36.0
matplotlib==3.3.3
moviepy==1.0.3
networkx==2.5.1
nolearn==0.6.1
nose==1.3.7
numba==0.53.1
numpy==1.19.5
opencv-python==4.5.1.48
openface==0.2.1
pandas==1.2.0
Pillow==8.1.0
proglog==0.1.9
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyWavelets==1.1.1
PyYAML==3.12
requests==2.25.1
scikit-image==0.18.2
scikit-learn==0.24.0
scipy==1.6.0
six==1.15.0
sklearn==0.0
tabulate==0.8.9
Theano==1.0.5
threadpoolctl==2.1.0
tifffile==2021.7.2
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
tqdm==4.55.2
typing-extensions==3.7.4.3
urllib3==1.26.3
